<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Buscar Registro</title>
</head>

<body>
<section layout:fragment="content">
    <div class="container mt-4">
        <h2 class="mb-4">Buscar Registro</h2>

        <form method="get" action="/buscar" class="row g-3">

            <!-- Apellido -->
            <div class="col-md-6">
                <label class="form-label">Apellido</label>
                <input type="text" name="apellido" class="form-control" placeholder="Ingrese Apellido" maxlength="50">
            </div>

            <!-- Nombre -->
            <div class="col-md-6">
                <label class="form-label">Nombre</label>
                <input type="text" name="nombre" class="form-control" placeholder="Ingrese Nombre" maxlength="50">
            </div>

            <!-- DNI -->
            <div class="col-md-6">
                <label class="form-label">DNI</label>
                <input type="text" name="dni" class="form-control" placeholder="Ingrese DNI" maxlength="11">
            </div>


            <!-- Botón de búsqueda -->
            <div class="col-12 mt-4 text-center">
                <button type="submit" class="btn btn-primary btn-lg px-5">Buscar</button>
            </div>
        </form>
    </div>

    <div class="mt-5">
        <h4>Resultados</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="u : ${usuarios}">
                <td th:text="${u.nombre}">Nombre</td>
                <td th:text="${u.apellido}">Apellido</td>
                <td th:text="${u.dni}">DNI</td>
                <td th:text="${u.mail}">Email</td>
            </tr>
            </tbody>
        </table>
    </div>

</section>
</body>
</html>
