<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Inicio</title>
</head>

<body>
<section layout:fragment="content">
    <div class="container mt-5">
        <h2 class="mb-4 text-primary">ABM externos</h2>
        <p>Sistema para Altas Bajas y Modificaciones de usuarios externos a Canal Doce</p>
    </div>
    <!-- Footer -->
    <div th:replace="fragments/footer :: footer"></div>
</section>
</body>
</html>
